.property-1default-child {
  height: 110px;
  width: 1000px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.property-1default,
.taste-it-fingers8 {
  display: flex;
  position: relative;
  max-width: 100%;
}
.taste-it-fingers8 {
  height: 113px;
  flex: 1;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.property-1default {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.property-1variant2-child {
  height: 110px;
  width: 1000px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 136, 107, 0.82);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.taste-it-fingers9 {
  height: 113px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 1;
}
.property-1variant2 {
  flex: 1;
  background-color: rgba(61, 89, 38, 0.68);
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 0;
  position: relative;
  max-width: 100%;
  cursor: pointer;
}
.component-set-parent,
.property-1default-parent,
.property-1variant2,
.property-1variant2-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.property-1variant2-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  max-width: 100%;
}
.component-set-parent,
.property-1default-parent {
  overflow: hidden;
}
.property-1default-parent {
  width: 1028.9px;
  border-radius: var(--br-8xs);
  border: 1px dashed #9747ff;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl) 6.9px 150px var(--padding-xl);
  gap: var(--gap-3xl);
  min-height: 418px;
  max-width: 100%;
}
.component-set-parent {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: row;
  padding: 115px 101px 626px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .component-set-parent {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .taste-it-fingers8,
  .taste-it-fingers9 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .component-set-parent {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .taste-it-fingers8,
  .taste-it-fingers9 {
    font-size: var(--font-size-lgi);
  }
  .property-1default-parent {
    padding-bottom: 97px;
    box-sizing: border-box;
  }
}
