.image-icon2 {
  width: 586px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
}
.image-frame {
  width: 1476px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d9d9d9;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.a-magical-crunchy1 {
  margin: 0;
  width: 452px;
  height: 80px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.calories {
  font-weight: 500;
  font-family: var(--font-inter);
}
.a-trip-to,
.calories-enough-to-fuel {
  margin: 0;
}
.calories-enough-to-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 184px;
  height: 23px;
}
.ultimate-fashion-explorer-child {
  position: absolute;
  top: 0;
  left: 180px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 31px;
  z-index: 1;
}
.ultimate-fashion-explorer {
  height: 30px;
  width: 184px;
  position: relative;
}
.sugar-content {
  font-weight: 500;
}
.sugar-content-enough-container {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 130px;
}
.ultimate-fashion-explorer-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  min-width: 253px;
  max-width: 100%;
}
.frame-child3 {
  height: 31px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.serving-size {
  font-weight: 500;
}
.serving-size-one-container {
  width: 184px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent7 {
  width: 606px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.5px;
  max-width: 100%;
}
.frame-child4 {
  height: 470px;
  flex: 1;
  position: relative;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cereal-name-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
}
.cereal-name {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-23xl);
  font-size: var(--font-size-mini);
}
.a-magical-crunchy-morning-deli-parent,
.cereal-name,
.recipe-1-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.a-magical-crunchy-morning-deli-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
}
.recipe-1-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-27xl) var(--padding-13xl) var(--padding-22xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.ingredients1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.frame-child5 {
  width: 191px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-wrapper3,
.ingredients-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ingredients-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frame-wrapper3 {
  width: 393px;
  flex-direction: row;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
  max-width: 100%;
}
.one-box-of {
  margin-bottom: 0;
}
.one-box-of-your-favourite-brea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-24xl);
}
.one-box-of-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 400;
  font-family: inherit;
}
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.directions1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.frame-child6 {
  width: 191px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.directions-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-wrapper4 {
  width: 393px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
}
.frame-parent8,
.frame-wrapper4,
.recipe-1-child {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent8 {
  width: 842px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 62px;
}
.recipe-1-child {
  width: 1070px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 29px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.amet1,
.lorem-ipsum-dolor1 {
  margin: 0;
}
.lorem-ipsum-dolor-container1 {
  margin: 0;
  align-self: stretch;
  height: 88px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.lorem-ipsum-dolor-sit-amet-container {
  margin-left: -1779px;
  width: 367px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 328px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.begin-by-rummaging1,
.next-its-time,
.once-youve-located {
  margin-bottom: 0;
}
.begin-by-rummaging-through-you1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-24xl);
}
.begin-by-rummaging-container1 {
  margin: 0;
  width: 1246px;
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.01em;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.frame-parent10 {
  width: 1474px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-95xl);
  box-sizing: border-box;
  gap: var(--gap-1393xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-linen);
  width: 1512px;
  height: 296px;
}
.disclaimer2 {
  margin: 0;
}
.blank-line5 {
  font-weight: 600;
}
.blank-line4 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.please-note-this-website-is-in2 {
  margin: 0;
}
.disclaimer-please-container5 {
  width: 100%;
}
.disclaimer-please-container4 {
  position: absolute;
  top: 0;
  left: 76px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 1383px;
  height: 303px;
  z-index: 1;
}
.rectangle-container {
  align-self: stretch;
  height: 282px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkolivegreen-100);
  font-family: var(--font-inter);
}
.recipe-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .frame-parent10 {
    flex-wrap: wrap;
    gap: var(--gap-687xl);
    justify-content: center;
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-38xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .frame-parent8 {
    gap: 31px;
  }
}
@media screen and (max-width: 825px) {
  .a-magical-crunchy1 {
    font-size: var(--font-size-13xl);
  }
  .frame-child3 {
    width: 100%;
    height: 1px;
  }
  .cereal-name {
    gap: var(--gap-2xl);
  }
  .recipe-1-inner {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .ingredients1 {
    font-size: var(--font-size-13xl);
  }
  .one-box-of-container {
    font-size: var(--font-size-7xl);
  }
  .directions1 {
    font-size: var(--font-size-13xl);
  }
  .lorem-ipsum-dolor-container1 {
    font-size: var(--font-size-10xl);
  }
  .begin-by-rummaging-container1 {
    font-size: var(--font-size-7xl);
  }
  .frame-parent10 {
    gap: var(--gap-334xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .a-magical-crunchy1 {
    font-size: var(--font-size-5xl);
  }
  .ultimate-fashion-explorer-parent {
    flex-wrap: wrap;
  }
  .ingredients1 {
    font-size: var(--font-size-5xl);
  }
  .frame-wrapper3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .one-box-of-container {
    font-size: var(--font-size-lgi);
  }
  .directions1 {
    font-size: var(--font-size-5xl);
  }
  .frame-wrapper4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent8 {
    gap: 15px;
  }
  .lorem-ipsum-dolor-container1 {
    font-size: var(--font-size-3xl);
  }
  .lorem-ipsum-dolor-sit-amet-container {
    padding-top: 213px;
    box-sizing: border-box;
  }
  .begin-by-rummaging-container1 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent10 {
    gap: var(--gap-157xl);
  }
  .disclaimer-please-container4 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
}
