.image-icon3 {
  width: 507px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
}
.frame-child8,
.image-wrapper1 {
  align-self: stretch;
  box-sizing: border-box;
}
.image-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
}
.frame-child8 {
  height: 1px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d9d9d9;
  border-top: 1px solid var(--color-black);
}
.frame-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.results-child {
  width: 30px;
  height: 35px;
  position: absolute;
  margin: 0 !important;
  top: 230px;
  left: 51px;
  object-fit: contain;
  z-index: 1;
}
.frame-child9 {
  width: 49px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.4px 0 0;
}
.back-to-recipes {
  flex: 1;
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  min-width: 179px;
}
.frame-parent12 {
  width: 323px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.results- {
  white-space: pre-wrap;
}
.span {
  font-size: 96px;
}
.results-04,
.yeah-thats-not {
  margin: 0;
}
.results-04-yeah-container {
  position: relative;
  line-height: 90px;
  font-weight: 500;
}
.results-04-yeah-thats-n-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.back-to-recipes-button,
.back-to-recipes-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.back-to-recipes-button {
  flex: 1;
  flex-direction: column;
  gap: 77.2px;
}
.back-to-recipes-button-wrapper {
  width: 1255px;
  flex-direction: row;
  padding: 0 66px 74.4px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.blank-line6 {
  margin: 0;
}
.back-to-recipes1 {
  margin: 0;
  text-decoration: underline;
}
.back-to-recipes-container,
.frame-child10 {
  position: absolute;
  left: 0;
  width: 536px;
  height: 132px;
}
.back-to-recipes-container {
  margin: 0;
  top: 0;
  font-size: inherit;
  line-height: 70px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.frame-child10 {
  top: 41px;
  cursor: pointer;
  z-index: 1;
}
.back-to-recipes-parent {
  height: 173px;
  width: 536px;
  position: relative;
  max-width: 100%;
}
.disclaimer-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 18.4px var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.rectangle-footer {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-linen);
  width: 1512px;
  height: 296px;
}
.disclaimer3 {
  margin: 0;
}
.blank-line8 {
  font-weight: 600;
}
.blank-line7 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.please-note-this-website-is-in3 {
  margin: 0;
}
.disclaimer-please-container7 {
  width: 100%;
}
.disclaimer-please-container6 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 64px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 1383px;
  z-index: 1;
}
.rectangle-parent1 {
  align-self: stretch;
  height: 303px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkolivegreen-100);
  font-family: var(--font-inter);
}
.results {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
  box-sizing: border-box;
  gap: 59.6px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .back-to-recipes-button {
    gap: var(--gap-20xl);
  }
  .back-to-recipes-button-wrapper {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .back-to-recipes {
    font-size: var(--font-size-7xl);
  }
  .results-04-yeah-container {
    font-size: 51px;
    line-height: 72px;
  }
  .back-to-recipes-container {
    font-size: var(--font-size-19xl);
    line-height: 56px;
  }
}
@media screen and (max-width: 750px) {
  .back-to-recipes-button {
    gap: var(--gap-lgi);
  }
  .back-to-recipes-button-wrapper {
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
  .disclaimer-info {
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
  .results {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .back-to-recipes {
    font-size: var(--font-size-lgi);
  }
  .results-04-yeah-container {
    font-size: var(--font-size-19xl);
    line-height: 54px;
  }
  .back-to-recipes-container {
    font-size: var(--font-size-10xl);
    line-height: 42px;
  }
  .disclaimer-please-container6 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
}
